* {
    background-color: #6699CC
}

.logo-div {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 95%;
}

.logo-img {
    justify-self: start;
}

.logo-div h1 {
    justify-self: center;
    grid-column: 2;
}

.signin-link {
    justify-self: end;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
    margin: 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.signin-link:hover {
    background-color: #ecf0f1;
    transform: translateY(-1.5px);
}

header {
    border: 5px solid #000000;
    width: 95%;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 1rem;
    flex-wrap: wrap;
    border: 5px solid white;
    padding-right: 1rem;
}

.nav-list li {
    display: flex;
    background-color: #bdc3c7;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
}

.nav-bar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
    margin: 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-bar a:hover {
    background-color: #ecf0f1;
    transform: translateY(-1.5px);
}

.secondary-crumbs-search {
    display: flex;
    justify-content: space-between;
    border: 5px solid green;
    width: 95%;
}

ul.breadcrumbs {
    padding: 10px 16px;
    border: 3px solid blue;
    list-style: none;
}

ul.breadcrumbs li {
    font-size: 18px;
    display: inline;
}

ul.breadcrumbs li+li:before {
    padding: 8px;
    color: black;
    content: "|";
}

ul.breadcrumbs li a:hover {
    color: white;
    text-decoration: underline;
}

.search-box {
    border: 3px solid orange;
    align-content: center;
}

input {
    border: 2px solid black;
}

input::placeholder {
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    border: 5px solid white;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 95vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

.home-box {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    border: 5px solid red;
    width: 95%;
    flex-grow: 1;
}

.home-box-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-box-div {
    border: 5px solid purple;
    flex: 1;
}

.home-box-img {
    max-width: 200px;
    height: auto;
    padding-bottom: 2.55%;
    padding-left: 2.55%;
}

footer {
    border: 5px solid yellow;
    width: 90%;
}

footer h4 {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.footer-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    border: 5px solid white;
    padding: 0;
}

.footer-list li {
    display: flex;
    background-color: #bdc3c7;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

footer a:hover {
    background-color: #ecf0f1;
    transform: translateY(-1.5px);
}