* {
    background-color: #6699CC
}

header {
    border: 5px solid #000000;
}

body {
    display: grid;
    border: 5px solid white;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

footer {
    border: 5px solid white;
}